<%= simple_form_for(@idea, html: {class: 'form-horizontal' }) do |f| %>
  <% if @idea.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@idea.errors.count, "error") %> prohibited this idea from being saved:</h2>

      <ul>
      <% @idea.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class='inputs'>
    <%= f.input :name %>
    <%= f.input :sponsor %>
    <%= f.input :description %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Submit Idea",  :class=>'btn btn-success btn-lg' %>
  </div>
<% end %>
