<div class='container'>
  <h1>Idea Exchange (IDX)</h1>
  <ul class='nav nav-pills'>
    <%= nav_link "New", ideas_path(:state => :spark), params[:state].eql?(:spark.to_s) %>
    <%= nav_link "For Review", ideas_path(:state => :proposed), params[:state].eql?(:proposed.to_s) %>
    <%= nav_link "Approved", ideas_path(:state => :approved), params[:state].eql?(:approved.to_s) %>
    <%= nav_link "In Development", ideas_path(:state => :in_development), params[:state].eql?(:in_development.to_s) %>
    <%= nav_link "Delivered", ideas_path(:state => :done), params[:state].eql?(:done.to_s) %>
    <%= nav_link "Deferred", ideas_path(:state => :deferred), params[:state].eql?(:deferred.to_s) %>
    <%= nav_link "Declined", ideas_path(:state => :declined), params[:state].eql?(:declined.to_s) %>
    <%= nav_link "All", ideas_path, params[:state] == nil %>
  </ul>
  <div class='card-deck'>
    <% @ideas.order(:state).each do |idea| %>
      <div class='card idea-card'>
        <div class='card-body'>
          <h3 class='card-title'><%= idea.state %></h3>
          <h3 class='card-subtitle'>
            <%= link_to idea.high_level_concept, idea %> -- <%= pluralize(idea.score, 'Point')%>
          </h3>
          <h4>By: <%= mail_to idea.user.email, idea.user.name %></h4>
          <p class='card-text'><%= idea.solution %></p>
          <% if idea.user == current_user || current_user.launchpad  %>
            <% # you can only edit/delete your own ideas %>
            <%= link_to edit_idea_path(idea), :class=>'btn btn-success pull-right' do %>
              <span class='glyphicon glyphicon-edit'></span>
            <% end %>
            <%= link_to idea, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger pull-right' do %>
              <i class='glyphicon glyphicon-remove'></i>
            <% end %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to 'Add Your Idea!', new_idea_path, class: 'mt-3 btn btn-lg btn-success' %>
</div>
