<div class='container'>
	<div class='row'>
		<div class='col-md-8'>
			<h2><%= @idea.high_level_concept %>  <span class='label label-default'><%=@idea.state.humanize%></span></h2>
			<p>Created by: <small><%= mail_to @idea.user.email, @idea.user.name %></small></p>
			<% if @idea.state != :spark.to_s %>
			<p>Sponsored by: <small><%= @idea.launchpad_sponsor.name %></small></p>
			<% end %>
			<h3>Support: <%= pluralize(@idea.score, 'Point')%></h3>
			<div class='row'>
				<%= render :partial => 'state_links', :locals => {:idea => @idea} %>
			</div>
		</div>

		<div class='col-md-4'>
			<% if @vote.score != nil  %>
			<h4>You already voted (<%= '%+d' % @vote.score %>)</h4>
			<%= link_to 'Remove Vote?', [@idea, @vote], :method => :delete, :class => 'btn btn-danger btn-lg' %>
			<% else %>
			<h4>Show Your Support.</h4>
			<div class='btn btn-group btn-group-lg'>
				<%= link_to idea_votes_path(@idea), :method => :post, :class => 'btn btn-success' do %>
				<i class='glyphicon glyphicon-thumbs-up'></i>
				<% end %>
				<%= link_to idea_votes_path(@idea, :score=>-1), :method => :post, :class => 'btn btn-success' do %>
				<i class='glyphicon glyphicon-thumbs-down'></i>
				<% end %>
			</div>
			<% end %>
		</div>
	</div>
	<div class='idea-attributes'>
		<div class='row'>
			<div class='col-md-3'>
				<%= idea_component_panel('Customer Segments', @idea.customer_segments) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Problem', @idea.problem) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Solution', @idea.solution) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Value Prop', @idea.unique_value_prop) %>
			</div>
		</div>

		<div class='row'>
			<div class='col-md-4'>
				<%= idea_component_panel('Key Metrics', @idea.key_metrics) %>
			</div>
			<div class='col-md-4'>
				<%= idea_component_panel('Cost Structure', @idea.cost_structure) %>
			</div>
			<div class='col-md-4'>
				<%= idea_component_panel('Revenue Streams', @idea.revenue_streams) %>
			</div>
		</div>

		<div class='row'>
			<div class='col-md-3'>
				<%= idea_component_panel('Unfair Advantage', @idea.unfair_advantage) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Early Adopters', @idea.early_adopters) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Existing Alternatives', @idea.existing_alternatives) %>
			</div>
			<div class='col-md-3'>
				<%= idea_component_panel('Channels', @idea.channels) %>
			</div>
		</div>

	</div>
	<div class='row'>
		<% if @idea.user == current_user || current_user.launchpad then %>
		<div class='col-md-12'>
			<%= link_to 'Edit', edit_idea_path(@idea), :class=>'btn btn-success' %>  <%= link_to 'Cancel', ideas_path, :class=>'btn btn-info' %>
		</div>
		<% end %>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<hr/>
			<h3><%= pluralize(@idea.comments.length, "Comment") %></h3>
			<% @idea.comments.each do |comment| %>
			<div class='row'>
				<div class='col-md-12'>
					<blockquote>
					<p><%= comment.description %></p>
					<footer><%= comment.user.name %> <cite>(<%= time_ago_in_words(comment.created_at) %> ago)</cite></footer>
					</blockquote>
				</div>
			</div>
			<% end %>
		</div>
	</div>
	<%= simple_form_for([@idea, @comment]) do |f| %>
	<div class='row'>
		<div class='form-inputs'>
			<%= f.input :description, :label => 'Post a Comment', :input_html => {:rows => 4}, :wrapper_html=>{:class=>'col-md-6'} %>
		</div>
	</div>
	<div class="form-actions">
		<%= f.button :submit, "Post Comment",  :class=>'btn btn-success btn-lg'%>
	</div>
	<% end %>

</div>