<section class='main-content'>
<div class='container'>
<div class='row'>
<div class='col-md-12'>

<p>
  <strong>Title:</strong>
  <%= @idea.title %>
</p>

<p>
  <strong>Sponsor:</strong>
  <%= @idea.user.email %>
</p>

<p>
  <strong>Description:</strong>
  <%= @idea.description %>
</p>

<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
</div>
</div>
</div>
</section>