<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

	<!-- Uncomment to make IE8 render like IE7 -->
	<!-- <meta http-equiv="X-UA-Compatible" content="IE=7" /> -->

	<!-- Set the viewport width to device width for mobile -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />

	<title><%= content_for?(:title) ? yield(:title) : "Ideamart" %></title>

	<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<section class='app-header'>
		<%= render :partial => 'application_title_bar'%>
	</section>

	<div class='container'>
		<section class='home-content'>
			<%= render partial: 'flash_messages' %>
			<%= yield %>
		</section>
	</div>

	<section class='app-footer'>
		<%= render :partial => 'application_footer' %>
	</section>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>

</body>
</html>
